
.container{
    padding: 50px 30px;
    text-align: center;
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    gap: 50px;
    min-height: 85vh;
    background-color: black;
}

.heading{
    margin: 0 auto;
    color: blanchedalmond;
    max-width: 400px;
    font-size: 3rem;
    font-weight: bolder;
    line-height: 4rem;
    letter-spacing: 1px;
}

.heading span{
    background-clip: text;
    font-style: oblique;
    color: #008080;
}

.right img{
    width: 300px;
}